/*  General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: whitesmoke;
    color: black;
    font-size: 1.5em;

}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Logo Styles */
#logo {
    margin: 0;
    font-size: 24px;
    flex-grow: 1; /* Allow the logo to grow within its container */
}

/* Navigation Styles */
nav {
    margin-top: 15px;
}

#nav-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#nav-menu li {
    margin: 0 15px;
}

#nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

/* Main Content Styles */
#main-content {
    padding: 40px 20px;
}

/* Section Styles */
/* Add this CSS to your existing stylesheet */

#main-content {
    position: relative;
    overflow: hidden;
}

.bestnobisworld {
    background-color: whitesmoke;
    position: relative;
}

#nobis-image {
    width: 100%; /* Make the image take the full width of its container */
}

#nobis-image img {
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default inline display */
}

#cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    color: white;
    /* Set the text color to white (assuming it's displayed on top of an image) */
}

#cover-text>h3 {
    color: white;
    font-size: 1.5em;
}

h2,
h3 {
    color: #333;
}

/* Paragraph Styles */
p {
    line-height: 1.6;
    color: #555;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Grid Styles */
.grid-item {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block; /* Remove any extra space below the image */
    margin: 0 auto; /* Center the image within its container */
}
/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 30px;
}

/* Social Sites Styles */
.social-sites {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.social-sites li {
    margin: 0 10px;
}

.social-sites a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

footer p {
    margin: 0;
    font-size: 1.5em;
}